  /* / clanedr horizonatal  */
  .calendar-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .nav-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .month-label {
    font-size: 18px;
    font-weight: bold;
    color: #003366;
  }
  
  .calendar-scroll {
    display: flex;
    overflow-x: auto;
  }
  
  .calendar-week {
    display: flex;
    justify-content:space-between !important;
    align-items: center;
    width: 100%;
  
  }
  
  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 10px;
    min-width: 50px;
    cursor: pointer;
    border-radius: 0px;
    border-right: 1px solid rgba(135, 135, 135, 0.674);
    transition: background-color 0.3s ease;
  }
  
  .day:hover {
    background-color: #f0f0f0;
  }
  
  .date {
    font-size: 18px;
    font-weight: bold;
  }
  
  .day-name {
    font-size: 14px;
    color: #888;
  }
  
  .selected {
    background-color: #007bff;
    color: white;
  }
  